<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>

<div id="ct" style="margin-top:10px;">
<div class="w_html">

<div class="w_style"><!--[diy=wk_w1]--><div id="wk_w1" class="area"></div><!--[/diy]--></div>

<div class="w_pb">
<div class="w_tp1">

<div class="w_tp10 w_style"><!--[diy=wk_w2]--><div id="wk_w2" class="area"></div><!--[/diy]--></div>
<div class="w_tp20 w_style"><!--[diy=wk_w3]--><div id="wk_w3" class="area"></div><!--[/diy]--></div>

<div class="w_height"></div>

<div class="w_style w_rdgz">
<h1 class="w_pi">
<em><a href="#">更多</a></em> 热点 关注<span>Hot Concern</span>
</h1>
<div class="w_rd1"><!--[diy=wk_w6]--><div id="wk_w6" class="area"></div><!--[/diy]--></div>
</div>

<div class="w_height"></div>
<div align="center" class="w_more"><a href="#"><img src="$_G['style']['styleimgdir']/m.png" width="382" height="36" border="0" title="查看更多" /></a></div>

<div class="w_height"></div>
<div><!--[diy=wk_w5]--><div id="wk_w5" class="area"></div><!--[/diy]--></div>

<div class="w_style w_ping"><h1 class="w_pi">
<em><a href="#">更多</a></em>精彩 图片<span>Photo Gallery</span>
</h1>
<div><!--[diy=wk_w4]--><div id="wk_w4" class="area"></div><!--[/diy]--></div></div>


</div>

<div class="w_tp2">

<div class="w_rwz1 w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
人物志<span>Portraits</span>
</h1></div>
<div><!--[diy=wk_w7]--><div id="wk_w7" class="area"></div><!--[/diy]--></div>
</div>

<div class="w_height1"></div>

<div class="w_qxl w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
启示录<span>Revelation</span>
</h1></div>
<div><!--[diy=wk_w8]--><div id="wk_w8" class="area"></div><!--[/diy]--></div></div>

<div class="w_height"></div>
<div><!--[diy=wk_w9]--><div id="wk_w9" class="area"></div><!--[/diy]--></div>


<div class="w_jkb w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
极客吧<span>Geeks!</span>
</h1></div>
<div><!--[diy=wk_w10]--><div id="wk_w10" class="area"></div><!--[/diy]--></div>
</div>

<div class="w_swk w_style"><!--[diy=wk_w11]--><div id="wk_w11" class="area"></div><!--[/diy]--></div>


<div class="w_zak w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
最爱看<span>Favorite shows</span>
</h1></div>
<div><!--[diy=wk_w12]--><div id="wk_w12" class="area"></div><!--[/diy]--></div></div>

<div class="w_xyq w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
行业圈<span>Industry circle</span>
</h1></div>
<div><!--[diy=wk_w13]--><div id="wk_w13" class="area"></div><!--[/diy]--></div>
</div>

<div class="w_style"><!--[diy=wk_w14]--><div id="wk_w14" class="area"></div><!--[/diy]--></div>

</div></div>

<div class="w_height"></div>
<div><!--[diy=wk_w15]--><div id="wk_w15" class="area"></div><!--[/diy]--></div>

<div class="w_zthd w_style">
<div class="w_rwz2" >
<h1 class="w_rwz">
专题活动<span>Special events</span>
</h1></div>
<div class="w_zt1"><!--[diy=wk_w16]--><div id="wk_w16" class="area"></div><!--[/diy]--></div>
<div class="w_zt2"><!--[diy=wk_w17]--><div id="wk_w17" class="area"></div><!--[/diy]--></div>
</div>

<div class="w_hzhb w_style"><div class="w_rwz2" >
<h1 class="w_rwz">
友情链接<span>Links</span>
</h1></div>
<div class="w_pavt01"><!--[diy=wk_w18]--><div id="wk_w18" class="area"></div><!--[/diy]--><div class="w_height"></div>
</div></div>

<div class="w_height"></div>
<div><!--[diy=wk_w19]--><div id="wk_w19" class="area"></div><!--[/diy]--></div>
<div class="w_height"></div>

</div>



<!--{subtemplate common/footer}-->
