<!--{subtemplate common/header}-->

	<div class="page-header">
		
			<h3 class="flb" style="padding-left:0">
				{lang getpassword}
			</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span3">
			<form method="post" autocomplete="off" action="member.php?mod=getpasswd&uid=$uid&id=$hashid">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				
					<div class="lgfm">

						<p class="lead">{lang username}: </p>
						
						<p class="lead"><input type="text" readonly="readonly" value="$member[username]" /></p>

						<p class="lead">{lang new_password}: </p>
						
						<p class="lead"><input type="password" name="newpasswd1" size="25" class="input-medium" /></p>

						<p class="lead">{lang new_password_confirm}:</p>

						<p class="lead"><input type="password" name="newpasswd2" size="25" class="input-medium" /></p>

					</div>
				
				<p>
					<button class="btn btn-success" type="submit" name="getpwsubmit" value="true">{lang submit}</button>
				</p>
			</form>
		</div>


		<div class="span6">
			
			<div class="hero-unit">
				<blockquote>
					{lang login_guest}
				</blockquote>
			</div>

		</div>

		</div>


<!--{subtemplate common/footer}-->