<div class="">
</div>

 <h1>向导</h1>
          <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">首页</a></li>
              <li><a href="#span2" data-toggle="tab">Profile</a></li>
              <li><a href="#span3" data-toggle="tab">Other</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">
              	<h1><small>为什么要精益创业？</small></h1>
                <p>
                	对于互联网创业者来说，一个联网的电脑就可以开始自己的idea和startup，但是要有大的发展，就需要企业化，企业化在通常意义上意味着高成本，因此精益创业开始以一种反潮流的姿态出现了，通过精益创业的思考方式来进行公司构建，实现小而美，不再把生命浪费在无休止的管理问题和办公室政治。
                	精益创业的核心是什么？
					敏捷。像梅西一样敏捷、快速、高效，通过小而美的精干团队，快乐地享受创业，而不是苦大仇深地在各种苦逼中煎熬。
					几个要素：非资本推动型、主动自发、关注客户价值、拒绝华而不实。
					中国互联网创业者几乎是在资本推动下进行的，很难找到精益创业团队，王建硕的百姓网是精益的，柳华芳的西瓜世界也会是精益的，嘎嘎。
					如何做到精益？我的理解如下：
					1、去除非必要的人力车夫、去除几乎不用的厄余功能
					2、重视自身健美，而非过度关键对手的呻吟声
					3、业务结构合理，能实现财务自由
					4、勤奋地思考，而不是勤奋地抄袭。
					5、高效地协同
				</p>
              </div>
              <div class="tab-pane fade" id="span2">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="span3">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>

            </div>
          </div>
