<ul class="h-list featured-items clearfix">

    <li>
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="#">
                <img src="in/FVGRHA6HFPTHHGC.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/A-Study-in-Non-Standard-Distributed-Computer-Archi/">
                        A Study in Non-Standard Distributed Computer Architecture
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/tolleyw/">
                        tolleyw
                    </a>
                </span>
            </div>
        </div>
    </li>

    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Tetris-shaped-board-game-closet/">
                <img src="in/FC9FXCPHFPTI5K3.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Tetris-shaped-board-game-closet/">
                        Tetris shaped board game closet
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/B00mrang/">
                        B00mrang
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Make-a-chinese-dragon-head/">
                <img src="in/FJ1YFM7HFPTGLRD.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Make-a-chinese-dragon-head/">
                        Make a chinese dragon head
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/kcf399/">
                        kcf399
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Mini-DIY-Photography-Backdrop/">
                <img src="in/F998J7THFSH4WVS.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Mini-DIY-Photography-Backdrop/">
                        Mini DIY Photography Backdrop
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/PropPrintables/">
                        PropPrintables
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Emergency-Battery-in-the-Wilderness/">
                <img src="in/F7FXG7XFWM6TAR3.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Emergency-Battery-in-the-Wilderness/">
                        Emergency Battery in the Wilderness
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/merijnvw/">
                        merijnvw
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Foam-Pump-Mason-Jar-Soap-Dispenser/">
                <img src="in/FWKF978HF243H0Y.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Foam-Pump-Mason-Jar-Soap-Dispenser/">
                        Foam Pump Mason Jar Soap Dispenser
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/OSSC/">
                        OSSC
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Making-an-ARC-Welder-Part-2-of-2/">
                <img src="in/FOA0PHPHFSHERQJ.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Making-an-ARC-Welder-Part-2-of-2/">
                        Making an ARC Welder - Part 2 of 2
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/The+King+of+Random/">
                        The King of Random
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/How-to-make-babies-out-of-tape/">
                <img src="in/F6CWAUQHCJOEMXX.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/How-to-make-babies-out-of-tape/">
                        How to make babies (out of tape)
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/misterrauh/">
                        misterrauh
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Play-Kitchen-Set-from-Entertainment-Center/">
                <img src="in/FT5AZIGHFSHEPXI.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Play-Kitchen-Set-from-Entertainment-Center/">
                        Play Kitchen Set from Entertainment Center
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/Maylily78/">
                        Maylily78
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Make-Your-Own-Drillium-Drilled-bike-components/">
                <img src="in/FU57CZPHFSHT0AS.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Make-Your-Own-Drillium-Drilled-bike-components/">
                        Make Your Own Drillium! (Drilled bike components)
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/distanceman89/">
                        distanceman89
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="last-row">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/DIY-Starter-Makeup-Kit-and-More/">
                <img src="in/FKF62NWHFSH4XIK.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/DIY-Starter-Makeup-Kit-and-More/">
                        DIY Starter Makeup Kit and More!
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/sunshiine/">
                        sunshiine
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="last-row">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Mexican-Thumb-Wrestler-Puppets-and-Arena/">
                <img src="in/F4LAJJSHFSHVIRH.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Mexican-Thumb-Wrestler-Puppets-and-Arena/">
                        Mexican Thumb Wrestler Puppets and Arena
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/wold630/">
                        wold630
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="last-row">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Assassins-Creed-LEGO-Hidden-Blade/">
                <img src="in/FSJELCHHFSHUCMP.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Assassins-Creed-LEGO-Hidden-Blade/">
                        Assassin's Creed LEGO Hidden Blade
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/001000120/">
                        001000120
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="last-row">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Small-Rustic-Dice-Bag/">
                <img src="in/FSQVKL7HFSHSZOQ.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Small-Rustic-Dice-Bag/">
                        Small, Rustic Dice Bag
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/Exscaly/">
                        Exscaly
                    </a>
                </span>
            </div>
        </div>
    </li>
    <li class="last-row">
        <div class="featured-cover-item cover-item">
            <a class="cover-image" href="http://www.instructables.com/id/Pixie-the-worlds-most-intense-desk-lamp/">
                <img src="in/F4AJ5SYGDEA4U02.jpg">
            </a>
            <div class="cover-info ">
                <span class="title">
                    <a href="http://www.instructables.com/id/Pixie-the-worlds-most-intense-desk-lamp/">
                        Pixie, the world's most intense desk lamp
                    </a>
                </span>
                <span class="author">
                    by
                    <a href="http://www.instructables.com/member/prank/">
                        prank
                    </a>
                </span>
            </div>
        </div>
    </li>
</ul>