<div class="span12">
	<div class="content span4 var-span9" align="center">
		
			<h3>改善资讯</h3>
			<p><img class="display-img" src="static/mot/image/p1.jpg" /></p>
		<ul>
			<li>精益认证,即将推出</li>
			<li>改善在线学院会员优惠订购活动，火热</li>
			<li>《改善基本原理》现已上线</li>
			<li>《领导标准作业》课程即将上线</li>
			<li>《改善基本原理》课程预告</li>
		<ul>
			<br />
			<p><a href="#" class="btn">更多 >> </a></p>
	</div>

	<div class="content span4 var-span9" align="center">
		
			<h3>常见问题</h3>
			<p><img class="display-img" src="static/mot/image/p2.jpg" /></p>
		<ul>		
			<li>公司什么级别的人员使用在线学院培训</li>
			<li>我们如何购买改善在线会员的账户？</li>
			<li>如何成为改善在线学院会员？</li>
			<li>改善在线学院多久会更新课程？</li>
			<li>如何注册成改善在线学院会员？</li>
		<ul>
			<br />
			<p><a href="#" class="btn">更多 >> </a></p>
	</div>

	<div class="content span4 var-span9" align="center">
		
			<h3>关于我们</h3>
				<div><img class="display-img" src="static/mot/image/p3.png" /></div>
				<p>改善在线学院 是一个全新的在线精益学习平台，我们采用了全新的在线教育模式，使用视频+问答社区这样一个全新的在线学习模式，脱离传统的文档类为主学习资源，使用直观、深入浅出的视频为主要教学资源，让原本晦涩难懂的精益技术以一个全新的方式展现在您的面前。</p>
				<br />
				<a href="#" class="btn">更多详情 >> </a>
	</div>
	
</div>