<script>
//window.onerror=function(){return true;}     
</script>

<div id="play_area" class="mot-block-blackboard" align="center">
<div class="container">

<script src="flowplayer/flowplayer-3.2.12.min.js"></script>
<link href="flowplayer/playful.css" rel="stylesheet" />

{if false}
<p>
    <a href="" style="display:block;width:750px;height:403px" id="player"></a> 
</p>
<script>
flowplayer("player", "flowplayer/flowplayer-3.2.16.swf", {
    
    log: { level: 'debug', filter: 'org.flowplayer.captions.*' },

    clip: {
        
        {if $video['label_cn']}
        captionUrl: 'http://www.36lean.com/filter.php?url=http://36lean-video-sub.oss-cn-hangzhou.aliyuncs.com/GA/{$video['v_path']}/CH/{$video['label_cn']}',
        {else}

        captionUrl: 'http://www.36lean.com/static/mot/empty.srt', 

        {/if}

        autoPlay: false,
        
        autoBuffering: true,
        
        baseUrl: '',//'{$base_url}', 

    },
    
    playlist: [ // playlist is an array of Clips, hence [...]
          '{$file}', // simple playlist entry: video
    ],


    plugins:  {
 
        // the captions plugin
        captions: {
            url: "flowplayer/flowplayer.captions-3.2.9.swf",
 
            // pointer to a content plugin (see below)
            captionTarget: 'content'
        },
 
        // configure a content plugin so that it
        // looks good for showing subtitles
        content: {
            url: "flowplayer/flowplayer.content-3.2.8.swf",
            bottom: 30,
            height:80,
            backgroundColor: 'transparent',
            backgroundGradient: 'none',
            border: 0,
            textDecoration: 'outline',
            style: {
                body: {
                    fontSize: 19,
                    fontFamily: '微软雅黑',
                    textAlign: 'center',
                    color: '#ffffff'
                }
            }
        },

        // change default skin to "tube"
        controls: {
            url: 'flowplayer/flowplayer.controls-tube-3.2.15.swf',
            playlist: true,

        }
 
    },
    canvas: {
        backgroundGradient: 'none'
    }
});
</script>
{/if}




<div id="mediaplayer"></div>
<script type="text/javascript"> 
  jwplayer('mediaplayer').setup({ 
    'flashplayer': 'player.swf', 
    'id': 'playerID', 
    'controlbar': 'bottom',
    'dock': 'false',
    'width': '700', 
    'height': '450', 
    'stretching': 'uniform',
    'file': '{$file}', 
    'image': 'uploads/page/{$c['image_file']}',
    'plugins': { 
       'captions-2': { 
           'file': 'http://www.36lean.com/filter.php?url=http://36lean-video-sub.oss-cn-hangzhou.aliyuncs.com/GA/{$video['v_path']}/CH/{$video['label_cn']}' 
       } 
    } 
  }); 
</script>


</div>
</div>




<div class="container">
<h4><i class="icon-file-alt"></i> 阅读材料</h4>
<hr/>
  <blockquote>
    {$content['contents']}
  </blockquote>
</div>

<div>