<!--<script>
jQuery( function() {
  jQuery.ajax({
    url : 'lesson.php',
    type : 'GET',
    data : { click_collection:1 , id: "{$lesson['id']}", type:'c'},
    dataType:'html',
  });
});
</script>
-->

<div class="container">
<p class="text-left"> 
  <a href="lesson.php"><i class="icon-home"></i> 在线课程</a> <span class="divider">/</span> 
  <a href="lesson.php?pages_list={$lesson['id']}"><i class="icon-book"></i> {$lesson['fullname']}</a> 
</p>
</div>

<div class="page-header">
  <h2 align="center">{$lesson['fullname']} </h2>
</div>

<div class="row-fluid">

  <div class="span6">
  <blockquote><i class="icon-info-sign"></i> 课程介绍</blockquote>
  <p>{$lesson['summary']}</p>
  <blockquote><i class="icon-info-sign"></i> 分类</blockquote>
  <p>精益课程</p>
  </div>


  <div class="span6">
    <img class="img-polaroid lazy" src="uploads/course/{$lesson['logo']}" data-original="uploads/course/{$lesson['logo']}" style="width:80%;" />
  </div>

</div>

<hr>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span3">
    <div>

            {if false}
            <p align="center">
                {if $vip['uid']}
                  {loop $favorite $f}
                    {if $f['courseid'] == $lesson['id']}{eval $flag=true}<a class="btn btn-danger btn-medium btn-block" href="lesson.php?cancel_favorite={$lesson['id']}">取消选课</a>{/if}
                  {/loop}
                    {if !$flag}
                    <a class="btn btn-danger btn-medium btn-block" href="lesson.php?add_favorite={$lesson['id']}">选课</a>
                    {/if}
                  {elseif $_G['uid'] == 0 }
                    <a href="forum.php"></a>
                  {else}
                    <a class="btn btn-danger btn-large btn-block" href="vip.php?action=active" target="_blank">开通会员</a>
                  {/if}
            </p>
            {/if}


    {if !$lesson['is_hidden']}
    
    
  
    <ul class="nav nav-list well">
      <li><h4><i class="icon-list"></i> 导航</h4></li>
      <li class="nav-header"><i class="icon-align-justify"></i> 课程大纲</li>
      {loop $pages $p}
      <li><a href="lesson.php?page_content={$p['id']}"><small><strong>{eval echo cutstr( $p['title'] , 15 , '' )}</strong></small></a></li>
      {/loop}
      
      {if false}
       <li class="nav-header"><i class="icon-share"></i> 相关链接</li>
       <li><a href=""><strong>关于本课程</strong></a></li>

       <li class="nav-header"><i class="icon-comments-alt"></i> 讨论专题</li>
       <li><a href=""><strong>进入专题页</strong></a></li>
       {/if}
    </ul>
    
    {/if}

    </div>
  </div>


<div class="span7">
  {if $lesson['is_hidden']}

    <div class="alert alert-info">
      很抱歉，本课程正在准备当中，即将推出。。。
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {else}
            {loop $pages $p}
            <div class="container-fluid">
            <div class="row-fluid well">
              <div class="span4 text-center">
                <a id="{$p['id']}" href="lesson.php?page_content={$p['id']}" title="{$p['title']}">
                
                {if file_exists( 'uploads/page/'.$p['image_file'])}
                <img class="img-polaroid lazy" id="{$p['id']}" src="{$_G['siteurl']}/uploads/page/{$p['image_file']}" alt="{$p['title']}" data-original="{$config['videourl']}{$p['v_path']}/PNG/{$p['image_file']}" />
                {else}
                <img class="img-polaroid lazy" id="{$p['id']}" src="{$config['videourl']}{$p['v_path']}/PNG/{$p['image_file']}" alt="{$p['title']}" data-original="{$config['videourl']}{$p['v_path']}/PNG/{$p['image_file']}" />
                {/if}

                </a>
              </div>

              <div class="span1"></div>
              
              <div class="span7">
                <h4>
                  <a id="{$p['id']}" href="lesson.php?page_content={$p['id']}" title="{$p['title']}">
                    {$p['title']}
                  </a>
                </h4>
                
                <p>
                 <span class="label label-info">语音 : {eval echo $p['v_voice'] == 1 ? '英语' : '普通话'}</span>
                 <span class="label label-info">时长 : {$p['v_time']}</span>
                </p>

                {eval echo cutstr( $p['contents'], 140 , ' .. ')}
              </div>

            </div>
            </div>
            {/loop}

    {/if}
  </div>




</div>
</div>


{if false}
<div class="container">
<div class="page-header">
  <h2>学习指南
    <small>指导</small>
  </h2>
</div>

<div class="page-header">
  <h2>学后考试
    <small>考试试题</small>
  </h2>
</div>
<dt>
  <dl><a href="examination.php?mod=do&id={$exam_bucket['id']}"><i class="icon-credit-card"></i> {$exam_bucket['title']}</a></dl>
  <dt>{$exam_bucket['info']}</dt>
</dt>

<div class="page-header">
  <h2>成长路线图
    <small>记录改变</small>
  </h2>


  <div class="progress progress-striped active">
    <div class="bar" style="width: 90%;"></div>
  </div>
</div>


</div>
{/if}