
<hr />
<div class="container-fluid" style="font-size:12px;">
  <div class="row-fluid">
        <strong>&copy;36Lean 精企网 2013</strong> 

        &nbsp;&nbsp;&nbsp;&nbsp;备案编号 : 沪ICP备13007809号
  </div>
</div>

</div>
</div>

<script type="text/javascript" src="{$_G['siteurl']}static/mot/professional.js"></script>
<script type="text/javascript" src="{$_G['siteurl']}static/bs/js/bootstrap.min.js"></script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif--> 
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" charset="utf-8"></script>
<script>
/*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41700814-1', '36lean.com');
  ga('send', 'pageview');
*/
</script>

</body>
</html>