<!--{subtemplate common/header_common}-->

	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
	<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
	<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
	<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
	
  	<style type="text/css">
	body{margin-bottom:50px;font-family: 微软雅黑;background: url( 'static/mot/bg.jpg') ;}.container-narrow{margin:0 auto;max-width:700px}.container-narrow>.jumbotron{margin:60px 0;text-align:center}.jumbotron h1{font-size:54px;line-height:1}.jumbotron .btn{font-size:21px;padding:14px 24px}.marketing{margin:60px 0}.marketing p+h4{margin-top:28px}
    </style>


  	<!--<link rel="stylesheet" type="text/css" href="{$_G['siteurl']}static/bsie/bootstrap/css/bootstrap-ie6.css">-->
  	<!--[if lte IE 6]>
  	<link rel="stylesheet" type="text/css" href="{$_G['siteurl']}static/bsie/bootstrap/css/bootstrap-ie6.css">
  	<![endif]-->
  	<!--[if lte IE 7]>
  	<link rel="stylesheet" type="text/css" href="{$_G['siteurl']}static/bsie/bootstrap/css/ie.css">
  	<![endif]-->
  	<script src="{$_G['siteurl']}static/mot/jquery.lazyload.js?v=1.8.5"></script>
  	
  	<!-- HTML5 shim, for IE6-8 support of HTML5 elements--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script>
  	jQuery( function(){
		jQuery("img").lazyload({effect : "fadeIn"});
  	});
    function ResumeError() {  
         return true;  
    }  
    window.onerror = ResumeError;
  	</script>

  	<link href="{$_G['siteurl']}static/bs/css/bootstrap.min.css" rel="stylesheet" />
  	<link href="{$_G['siteurl']}static/bs/css/bootstrap-responsive.min.css" rel="stylesheet" />
  	<link href="{$_G['siteurl']}static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!--[if IE 7]>
   	<link href="{$_G['siteurl']}static/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]--> 
  	<!--[if lte IE 6]>
  	<link rel="stylesheet" type="text/css" href="{$_G['siteurl']}static/bsie/css/bootstrap-ie6.css">
  	<link rel="stylesheet" type="text/css" href="{$_G['siteurl']}static/bsie/css/ie.css">
  	<script type="text/javascript" src="{$_G['siteurl']}static/bsie/js/bootstrap-ie.js"></script>
  	<![endif]-->


</head>


<body>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">


          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

    <div class="nav-collapse collapse">
		<ul class="nav">
			<li><a href="javascript:;"  onclick="setHomepage('{$_G['siteurl']}');"><i class="icon-home"></i> 设为首页</a></li>
			<li><a href="{$_G['siteurl']}"  onclick="addFavorite(this.href, '$navtitle');return false;"><i class="icon-bookmark-empty"></i> 收藏本站</a></li>
			<li><a href="{$_G['siteurl']}messagebox.php"><i class="icon-envelope-alt"></i> 在线咨询</a></li>
		</ul>
        <form class="form-inline navbar-form pull-left" action="msearch.php" method="get" style="margin-left:53px;">
    		<div class="input-append">
    			<input name="keywords" type="text" class="span3" placeholder="输入你要找的课程"/>
    			<button name="findout" type="submit" class="btn btn-primary">搜索</button>
    		</div>
    	</form>
      	<ul class="nav pull-right">
			{if !$_G['uid']}
          	<li class=""><a href="member.php?mod=logging&action=login">登陆</a></li>
            <li class=""><a href="member.php?mod={$_G[setting][regname]}">注册</a></li>
            {else}
            <li class=""><a href="user.php"><i class="icon-user"></i> {$_G['username']}在线</a></li>
            <li class=""><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}"> 注销</a></li>
            	{if $_G['adminid'] == 1}<li class="pull-right"><a href="admincp/index.php">管理</a></li>{/if}
         	
         	{/if}
      	</ul>
	</div>
		
	</div>
	</div>
</div>

<div class="container main-body">

<p>
	<a href="{$_G['siteurl']}"><img src="{$_G['siteurl']}/static/mot/logo.png" data-original="{$_G['siteurl']}/static/mot/logo.png" /></a>
</p>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
          	<li {if CURSCRIPT === 'portal' && CURMODULE !== 'aboutus'}class="active"{/if}><a href="portal.php"><i class="icon-home"></i> 首页</a></li>
 			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lesson.php">
					<i class="icon-cloud"></i> 精益云学院 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="lesson.php"> 云学院课程 </a></li>
					<li><a href="read.php?title=product">产品版本</a></li>
				</ul>
    		</li>
          	<li><a href="{$_G['site_url']}news"><i class="icon-globe"></i> 精企资讯 </a></li>
          	<li {if $_GET['title'] === 'aboutus'}class="active"{/if}><a href="read.php?title=aboutus"><i class="icon-group"></i> 关于我们 </a></li>
          	<li {if $_GET['title'] === 'contactus'}class="active"{/if}><a href="read.php?title=contactus"><i class="icon-phone"></i> 联系我们 </a></li>
        </ul>

        <ul class="nav pull-right">
        	<li><a href="read.php?title=contactus"><i class="icon-phone"></i> 021-62128213</a></li>
        </ul>
    </div>
</div>


<div class="container">
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<!--{template common/header_diy}-->
	<!--{/if}-->
	<!--{if check_diy_perm($topic)}-->
		<!--{block diynav}-->
			
			<img class="img-polaroid lazy" src="{STATICURL}image/diy/panel-toggle.png" alt="DIY" />
			<div id="diy-tg_menu" style="display: none;">
				<ul>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '');openDiy();">{lang header_diy_mode_simple}</a></li>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '1');openDiy();">{lang header_diy_mode_adv}</a></li>
				</ul>
			</div>
		<!--{/block}-->
	<!--{/if}-->

	<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}-->
		$diynav
	<!--{/if}-->


	<!--{if empty($topic) || $topic['useheader']}-->


		<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
			<div class="xi1 bm bm_c">
			    {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a>
			</div>
		<!--{/if}-->




{if CURSCRIPT == 'forum'}
		<h1>改善社区<small></small></h1>
		


		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onclick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onclick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->


		<!--{ad/headerbanner/wp a_h}-->
		<div id="hd">
			<div class="wp">
				<div class="hdc cl">
					<!--{eval $mnid = getcurrentnav();}-->

					<!--{if $_G['uid']}-->
					<!--用户信息栏跟菜单栏-->
						<div align="center">
							<table class="table table-bordered">
								<tr>
									<td>
										<strong class="vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}"><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a></strong>

										<!--{if $_G['group']['allowinvisible']}-->
										<span id="loginstatus">
										<a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onclick="ajaxget(this.href, 'loginstatus');return false;"></a>
										</span>
										<!--{/if}-->

										<!--{hook/global_usernav_extra1}-->
										<span class="pipe">|</span><!--{hook/global_usernav_extra4}--><a href="home.php?mod=spacecp">{lang setup}</a>

										<span class="pipe">|</span><a href="home.php?mod=space&do=pm" id="pm_ntc">{lang pm_center}</a>

										<span class="pipe">|</span><a href="home.php?mod=space&do=notice" id="myprompt">{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>

										<!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><span class="pipe">|</span><a href="home.php?mod=task&item=doing" id="task_ntc">{lang task_doing}</a><!--{/if}-->


										<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
										
										<span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
										<!--{/if}-->

										<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
										<span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
										<!--{/if}-->

										<!--{if $_G['uid'] && $_G['adminid'] == 1 && $_G['setting']['cloud_status']}-->
										<span class="pipe">|</span><a href="admin.php?frames=yes&action=cloud&operation=applist" target="_blank">{lang cloudcp}</a>
										<!--{/if}-->

										<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
										<span class="pipe">|</span><a href="admin.php" target="_blank">{lang admincp}</a>
										<!--{/if}-->

										<!--{eval $upgradecredit = $_G['uid'] && $_G['group']['grouptype'] == 'member' && $_G['group']['groupcreditslower'] != 999999999 ? $_G['group']['groupcreditslower'] - $_G['member']['credits'] : false;}-->
										<span class="pipe">|</span><a href="home.php?mod=spacecp&ac=credit&showcredit=1" id="extcreditmenu"{if !$_G[setting][bbclosed]} onmouseover="delayShow(this, showCreditmenu);" class="showmenu"{/if}>{lang credits}: $_G[member][credits]</a>

										<span class="pipe">|</span>{lang usergroup}: <a href="home.php?mod=spacecp&ac=usergroup"{if $upgradecredit !== 'false'} id="g_upmine" onmouseover="delayShow(this, showUpgradeinfo)"{/if}>$_G[group][grouptitle]</a>
										<!--{hook/global_usernav_extra2}-->
										<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
										<!--{hook/global_usernav_extra3}-->
									</td>
								</tr>
							</table>
						</div>
						<!--用户信息栏跟菜单栏-->


					<!--{elseif !empty($_G['cookie']['loginuser'])}-->
					<!--未登录-->
					<p>
						<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
						<span class="pipe">|</span><a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a>
						<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
					</p>
					<!--{elseif !$_G[connectguest]}-->
						<!--{template member/login_simple}-->
					<!--{else}-->
					<div id="um">
						<div class="avt y"><!--{avatar(0,small)}--></div>
						<p>
							<strong class="vwmy qq">{$_G[member][username]}</strong>
							<!--{hook/global_usernav_extra1}-->
							<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
						</p>
						<p>
							<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a>
							<span class="pipe">|</span>{lang usergroup}: $_G[group][grouptitle]
						</p>
					</div>
					<!--未登录-->
					<!--{/if}-->
				</div>

				<!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
					<ul class="p_pop h_pop" id="plugin_menu" style="display: none">
					<!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
						 <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
						 <li>$module[url]</li>
						 <!--{/if}-->
					<!--{/loop}-->
					</ul>
				<!--{/if}-->

				$_G[setting][menunavs]
				<div id="mu" class="cl">
				<!--{if $_G['setting']['subnavs']}-->
					<!--{loop $_G[setting][subnavs] $navid $subnav}-->
						<!--{if $_G['setting']['navsubhover'] || $mnid == $navid}-->
						<ul class="cl {if $mnid == $navid}current{/if}" id="snav_$navid" style="display:{if $mnid != $navid}none{/if}">
						$subnav
						</ul>
						<!--{/if}-->
					<!--{/loop}-->
				<!--{/if}-->
				</div>
				<!--{ad/subnavbanner/a_mu}-->
				
			</div>
		</div>
	{/if}
	<!--{hook/global_header}-->
	<!--{/if}-->

